{% extends 'base.html.twig' %}

{% block title %}New SpiritualPearls{% endblock %}

{% block body %}
    <h1>Create new SpiritualPearls</h1>

    {{ include('spiritual_pearls/_form.html.twig') }}

    <a href="{{ path('spiritual_pearls_index') }}">back to list</a>
{% endblock %}
