<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}Администраторски панел{% endblock %}
    </title>
    <meta name="description" content="Администраторски панел">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('./dashboard.css') }}">
        <link rel="stylesheet" href="{{ asset('./palette.css') }}">
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-main flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Към сайта</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="btn btn-success" href="#">Изход</a>
        </li>
    </ul>
</nav>

<div class="container-fluid bg-yellow-white">
    <div class="row">
        <nav id="aside-menu" class="col-md-2 bg-green sidebar">
            <div class="sidebar-sticky overflow-hidden">
                <ul class="nav flex-column">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <i class="fas fa-users-cog"></i>
                            Админ панел<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            <span class="nav-icon"><i class="far fa-newspaper"></i></span>
                            Статии
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon"><i class="far fa-newspaper"></i></span>
                            Новини
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon"><i class="fas fa-newspaper"></i></span>
                            Духовни бисери
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            Категории
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                            Етикети
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                            Изображения
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2 caption-text">Главна страница</h1>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <a href="#" class="btn add-btn bg-sub-caption btn-lg btn-block btn-huge">
                        <span class="mr-3"><i class="fas fa-plus-square"></i></span>Създай статия
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn add-btn bg-sub-caption btn-lg btn-block btn-huge ">
                        <span class="mr-3"><i class="fas fa-plus-square"></i></span>Създай новина
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn add-btn bg-sub-caption btn-lg btn-block btn-huge">
                        <span class="mr-3"><i class="fas fa-plus-square"></i></span>Създай духовен бисер
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-sub-caption sub-title">
                            Последни статии
                        </div>
                        <div class="card-body border-bottom">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content....</p>
                        </div>
                        <div class="card-body border-bottom">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content....</p>
                        </div>
                        <div class="card-body border-bottom">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content....</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-sub-caption sub-title">
                            Последни новини
                        </div>
                        <div class="card-body border-bottom">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content....</p>
                        </div>
                        <div class="card-body border-bottom">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content....</p>
                        </div>
                        <div class="card-body border-bottom">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content....</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-sub-caption sub-title">
                            Последни духовни бисери
                        </div>
                        <div class="card-body border-bottom">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content....</p>
                        </div>
                        <div class="card-body border-bottom">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content....</p>
                        </div>
                        <div class="card-body border-bottom">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content....</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

{% block body %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
